{% extends 'dadjokes/base.html' %}

{% block content %}
<main class="grid-container">
    <joke class="featured">
        <p>{{ joke.text }}</p>
        <div>
        <strong>by {{ joke.contributor }} at {{ joke.published }}</strong>
        </div>
    </joke>

    <joke class="featured">
        {% if picture.url %}
        <img src="{{ picture.url }}" alt="{{ picture.url }}">
        {% endif %}

        <div>
        <strong>by {{ picture.contributor }} at {{ picture.published }}</strong>
        </div>
    </joke>
</main>
{% endblock %}