{% load static %}
<html>
    <head>
        <title>Batman Quotes</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>

    <nav>
        <ul>
            <li><a href="{% url 'quote' %}">Home</a></li>
            <li><a href="{% url 'show_all' %}">Show All</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </nav>
        
    {% block content %}
    {% endblock %}
    
    <hr>
    <p>Batman Quotes Application</p>

    </body>
</html>