{% extends 'mini_insta/base.html' %}

{% block content %}
<main class="grid-container">

    <h2 style="grid-column: span 3;">Followers of {{profile.display_name}}</h2>
    <p style="grid-column: span 3;"><a href="{% url 'profile' pk=profile.pk %}">&larr; Back to Profile</a></p>

    {% for follower in profile.get_followers %}
    <article>
        {% if follower.profile_image_url %}
        <a href="{% url 'profile' pk=follower.pk %}">
            <img src="{{follower.profile_image_url}}" alt="{{follower.display_name}}">
        </a>
        {% endif %}

        <div>
        <h2><a href="{% url 'profile' pk=follower.pk %}">{{follower.display_name}}</a></h2>
        <strong>@{{follower.username}}</strong>
        <p>{{follower.bio_text}}</p>
        </div>
    </article>

    {% empty %}
    <p style="grid-column: span 3;">No followers.</p>
    {% endfor %}

</main>
{% endblock %}